@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}
a{
    text-decoration: none;
   color: #1cbbb4;
}
html,body{
    min-height: 100vh;
    width: 100vw;
  overflow-x: hidden; 
   
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Times New Roman', 'Helvetica', 'Lato', 'sans-serif';
}


.top-logo{
    justify-content: center;
    align-items: center;
    margin: auto;
}



@media screen and (max-width: 992px) {
    #mynavul li a{
        color: white;
        font-weight: 500;
        margin-top: 4px;
        
        }

        body{
             overflow-x: hidden;  
        }
    
}
 




 @media screen and (min-width: 992px) {
    #mynavul li a{
        display: flex; 
        color: white;
        font-weight: 500;
        padding: 0px;
        height: 60px;
        align-items: center;
        justify-content: center;
        margin-left: 4px;
        width: 100px;  
        
    }

    .mainnavbarheading{
        height: 60px;
     }
    
     .navbar-main-container{
        height: 60px;
        padding: 0px!important;
     }

     .show{
        background-color: #e9ecef;; 
        width: 400px;
        
       
     }

     .show a.dropdown-item{
        margin-left: 153px;
     }
     body{
         overflow-x: hidden; 
    }

      
} 

@media screen and (max-width: 1000px) {
    .review-text{
        text-align: center;
        margin:auto;
    }
   
    
}
    


.main-heading{
    width: 40%;
    color: #00A4B4;
    align-items: center;
    justify-content: center;
    vertical-align: middle
    
}
.main-heading{
    display: table-cell;
    vertical-align: middle;
    margin-left: 15px;
}
.main-heading h1{
    font-size: 1.5rem;
    padding-top: 10px;
   
}
.number{
    color: #00A4B4;
}

 .header{
    background-color:#1cbbb4;
    padding: 0!important;
    margin: 0;
    color: #fff;
 }


.header li a{
   text-transform: uppercase;
}

 .header .nav-link:hover{
    background-color:#ffc107;;
   
} 

.navbar-nav>.active>a {
     background-color: #ffc107; 
    }

.carousel-inner img{
 
    width: 100%;
    max-height: 480px;
    min-height: 150px;
}

.book-home{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    height: 100%;
    padding: 20px;

}

.form-section{
    background-color:#00A4B4; 
    width: 100%;

    padding: 10px;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.btn-primary{
    margin-top: 20px;
}

.col-md-2 h1{
    text-align: center;
    color: white;
    font-size: 30px;
    margin-top: 20px;
}
.boldlineheading{
    box-sizing: border-box;
}

.boldlineheading{
    text-align: center;
    font-size: 3.5em;
    color: #2c363e;
    text-shadow: 0 1px 2px rgb(0 0 0 / 37%);
    text-transform: uppercase;
    letter-spacing: 2px;
}
.descp h1{
   
    font-size: 2.5em;
    color: #2c363e;
    text-shadow: 0 1px 2px rgb(0 0 0 / 37%);
    text-transform: uppercase;
    letter-spacing: 2px;
}

.gallery-title h1{
    text-align: center;
    font-size: 3.5em;
    color: #2c363e;
    text-shadow: 0 1px 2px rgb(0 0 0 / 37%);
    text-transform: uppercase;
    letter-spacing: 2px;
}


.breadcrum-design{
    padding: 0.5rem 0.5rem;
    margin-bottom: 1rem;
    background-color: #dcdcdc;
}


.gridimage, img{
    width: 100%;
    height: 100%;
    vertical-align: middle;

}
.mygalleryimg{
    padding: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}
.footer-about h4{
    color: #dcdcdc;
    font-weight: 400;
}
.descp p{
    margin: 0;
    font-size: 1.1rem;
    color: #525250;
    line-height: 2em;
    letter-spacing: 1px;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


.contentheading h1{
    text-align: center;
    
    color: #2c363e;
    text-shadow: 0 1px 2px rgb(0 0 0 / 37%);
    text-transform: uppercase;
    letter-spacing: 2px;
    
}


.text-left{
    color: white;
}

.partners h2{
    text-align: center;
    text-transform: uppercase;
    color: #00A4B4;

}

.ourpartner img{
    width: 200px;
    height: 200px;
    vertical-align: middle;
}

.mypart{
    border-radius: 50%;
}
@media screen and (max-width: 723px) {
    .partners .row2 .col img{
        height: 100px;
        width: 100px;
    }

    .partners .row2{
        display: flex;
        flex-direction: column;
    }

    .row2 .col{
        margin-left: 157px;
    }
}
    


/* footer css begins from here */

.footer{
    display: flex;
   align-items: center;
   justify-content: center;
   background-color: #0e0f10;
   font-size: 100%;
    font-family: 'Helvetica','Times New Roman', sans-serif;
    height: 600px;
   
}
.insidemainfooter{
    display: flex;
}

@media screen and (max-width: 988px) {
    .insidemainfooter{
        flex-direction: column;
    }
    .footer{
        display: flex;
       flex-direction: column;
       height: 100%;
    }
    .footerleft{
        width: 50%;
        margin: 6px 6px;
        
    
    }

    .footerright{
        width: 50%;
        margin: 6px 6px;
        
    }
    
}


@media screen and (max-width: 1400px) {
    .footer{
        display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
    }
    .footerleft{
        width: 50%;
        margin: 6px 6px;
        
    
    }

    .footerright{
        width: 50%;
        margin-left: 100px;
        
        align-items: center;
       justify-content: center;
        
    }
    
}

.border-line .nav  li a{
    color: #00A4B4;
}

.border-line .nav  li a:hover{
    color: #ffdf00;
}

.copyrightbottom a{
    color: #dcdcdc;
}

.fotterlefdescp,.copyrightbottom p{
   
        margin: 0;
        font-size: 1.1rem;
        color: #525250;
        line-height: 2em;
        letter-spacing: 1px;
    
}

.footerrightheading h5{
    color: #f8f4ff;
    text-transform: none;
    font-size: 30px;
}

.button-75 {
  align-items: center;
  background-image: linear-gradient(135deg, #f34079 40%, #fc894d);
  border: 0;
  border-radius: 10px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-family: "Codec cold",sans-serif;
  font-size: 16px;
  font-weight: 700;
  height: 54px;
  justify-content: center;
  letter-spacing: .4px;
  line-height: 1;
  max-width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 3px;
  text-decoration: none;
  text-transform: uppercase;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

@media screen and (max-width: 412px) {

    .button-75 span{
        font-size: 0.5rem;
    }
}

@media screen and (max-width: 210px) {

    .button-75 span{
        font-size: 0.1rem;
    }
}
    


.button-75:active {
  outline: 0;
}

.button-75:hover {
  outline: 0;
}

.button-75 span {
  transition: all 200ms;
}

.button-75:hover span {
  transform: scale(.9);
  opacity: .75;
}

@media screen and (max-width: 991px) {
  .button-75 {
    font-size: 15px;
    height: 50px;
  }

  .button-75 span {
    line-height: 50px;
  }
}

/* ABOUT PAGE  css starts from  here */
.our-team h1{
    color: #00A4B4;
    font-size: 3.5rem;
}
.our-team .row2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
}

.our-team img{
    width: 200px;
    height: 200px;
    border-radius: 50%;

   
}

.mymap{
    width: 100%;
    background: rgb(243, 235, 235);
}

.contact-info{
    
   background: #1cbbb4;;
   color: #fff;
   align-items: center;
   
}


.contact-info i{
    font-weight: 400;
    color: #bba309;
    font-size: 2rem;
    margin: 2px 2px;
    padding: 2px 2px;
    height: 100px;
}

.contact-info p{
    margin: 0;
    font-size: 1.1rem;
    color: #525250;
    line-height: 2em;
    letter-spacing: 1px;
}

.contact-info a{
    margin: 2px 2px;
    font-size: 1.1rem;
    color: #525250;
    line-height: 2em;
    letter-spacing: 1px;
    text-decoration: none;
}

.newbuspark img{
    width: 90%;
    height: 400px;
    
}

 .mycard-body-style{
    margin: 0;
    font-size: 1.1rem;
    color: #525250;
    line-height: 2em;
    letter-spacing: 1px;
    display: block;
    
}

.booking-section h1,h2,h3,h4,h5,h6{
    margin: 0;
    font-family: 'Times New Roman', 'Helvetica', 'Lato', sans-serif;
    letter-spacing: 1px;
    font-weight: 500;
    text-transform: uppercase;
    color: #1cbbb4;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
   border:0.25px solid lightgreen;
    border-radius: 0.25rem; ;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    margin:2px;
    text-align: left;
}

label {
    display: inline-block;
    margin-bottom: 0.5rem;
    font-size: 100%;
    font-family: 'Helvetica','Times New Roman', sans-serif;
    cursor: default;
    
    
    }

.red{
        color:red;
    }


.myowntext{
        justify-content: left;
    }


 .footerrightheading .icons i{
    color: #00A4B4;
 }
.footerrightheading .icons i:hover{
    color: #f8f4ff;
    cursor: pointer;
}
.gallery-images{
    background-color:  #edf3f3;
}

.gallery-images .gridimage img{
    background-color:  #edf3f3;
   
}

.gallery-images .gridimage{
    border: 3px solid #28a745;
    background-color: #edf3f3;
   
    
}
.gallery-images .second-row .gridimage img{
   
    min-height: 305px;
}


.product-slider{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    width: 90%;
}


.product-box{
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: #ffdf00;
    
}

.product-box .card{
    background-color: #ffdf00;
    border-radius: 50% solid #ffdf00;
    align-items: center;
    justify-content: center;
}

.product-box .card img{
   margin: auto;
    width: 350px;
    height: 200px;
    border-radius: 50%;
   
}

.client-review{
    display: flex;
    color: #fff;
    
}

.client-review  img{
    height: 250px;
    width: 250px;
    margin: 20px auto;
    padding: 20px auto ;
    border: 10px solid #a61d3d;
}

.client-review-section .carousel-control-next-icon, .carousel-control-prev-icon {
    visibility: hidden;
}


.product-slider .card{
    border:none;
}
@media screen and (min-width: 1000px) {
    .slider-dots{
        visibility: hidden;
    }
    #glider-prev-next{
        color: #a61d3d;
        
    }
}
    
@media screen and (max-width: 1000px) {
    .slider-dots{
        visibility:show;
        background-color: #a61d3d;
    }
    .glider-prev-next{
        visibility: hidden;
    }
}

